@import "theme";

.player{
  display: inline-block;
  width: 300px;
  vertical-align: top;
  color: $primary-text-color;
  font-size: $font-size-xl;
  background-color: $primary-background-alternate;
  margin: 0 $margin-sm;

  h4 {
    margin: 0;
    padding: $pad-sm;
  }

  .text{
    display: inline-block;
    padding-bottom: $pad-floor;
    width: 250px;
  }
}

.underline {
  display: inline-block;
  position: relative;
  padding-bottom: $pad-floor;
  &:after {
    position: absolute;
    content: '';
    bottom: -4px;
    left: -75px;
    height: 3px;
    width: 0%;
    background-color: $primary-background-color;
    animation: underline 500ms;
    animation-fill-mode: forwards;
  }
}
@keyframes underline {
  to {
    width: 250px;
  }
}