@import "theme";
@import "buttons";
@import "form";

.banner{
  margin: 2px;
  cursor: pointer;
}

.nameContainer{
  height: 65px;
  h4 {
    padding: $pad-sm;
  }
  input {
    max-width: 70%;
    padding: 4px;
    @extend %input-base;
  }
}
.underline {
  display: inline-block;
  position: relative;
  padding-bottom: $pad-floor;
  &:after {
    position: absolute;
    content: '';
    bottom: 25px;
    left: -125px;
    height: 3px;
    width: 0%;
    background-color: $primary-background-color;
    animation: underline 500ms;
    animation-fill-mode: forwards;
  }
}
@keyframes underline {
  to {
    width: 250px;
  }
}

.btnConfirm{
  @extend %form-button;
  &:hover,
  &:active,
  &:focus:not(:active) {
    background: $success-color;
    color: $success-darker-color;
  }
}

.btnCancel{
  @extend %form-button;
  &:hover,
  &:active,
  &:focus:not(:active) {
    background: $error-color;
    color: $error-darker-color;
  }
}