@import "theme";
@import "buttons";
@import "form";

.symbolContainer{
  height: 42px;
  display: inline-block;
  width: 50%;
  cursor: pointer;
}

.symbol{
  padding-left: $pad-sm;
}

input {
  max-width: 50px;
  text-align: center;
  padding: 4px;
  @extend %input-base;
}

.btnConfirm{
  @extend %form-button;
  &:hover,
  &:active,
  &:focus:not(:active) {
    background: $success-color;
    color: $success-darker-color;
  }
}

.btnCancel{
  @extend %form-button;
  &:hover,
  &:active,
  &:focus:not(:active) {
    background: $error-color;
    color: $error-darker-color;
  }
}