@import "theme";

.symbolContainer{
  height: 42px;
  cursor: pointer;
}

.symbol{

}

input {
  max-width: 50px;
  text-align: center;
  padding: 4px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $primary-text-color;
  border-radius: 0;
  color: $primary-text-color;
  font-size: $font-size-mdl;
  line-height: $base-line-height;
}

.btnConfirm{
  min-width: 30px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: $primary-text-color;
  font-size: 24px;
  line-height: normal;
  text-align: center;
  letter-spacing: 0;
  vertical-align: middle;
  cursor: pointer;
  padding-left: $pad-floor;
  margin-left: $margin-floor;
  transition: background-color 0.2s,
    color 0.2s;
  &:hover,
  &:active,
  &:focus:not(:active) {
    background: $success-color;
    color: $success-darker-color;
  }
}

.btnCancel{
  min-width: 30px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: $primary-text-color;
  font-size: 24px;
  line-height: normal;
  text-align: center;
  letter-spacing: 0;
  vertical-align: middle;
  cursor: pointer;
  padding-left: 6px;
  margin-left: $margin-floor;
  transition: background-color 0.2s,
    color 0.2s;
  &:hover,
  &:active,
  &:focus:not(:active) {
    background: $error-color;
    color: $error-darker-color;
  }
}